[Unit]
Description=Pointing Poker Service
After=network.target

[Service]
ExecStart=pointing-poker
Restart=always
User=root
WorkingDirectory=/root/

[Install]
WantedBy=default.target
