{{ block "session" . }}
<main id="session-container" class="grow flex flex-col space-y-8" hx-ext="ws" ws-connect="/ws/{{ .SessionId }}">
  {{ template "session-content" . }}
</main>
{{ end }}

{{ block "session-content" . }}
<div class="flex p-4">
  <h1 class="grow text-4xl">{{ .SessionName }}</h1>
    <button class="border rounded border-emerald-50 px-2 py-1 text-lg hover:scale-105 transition duration-200" id="restart-session" ws-send>Restart</button>
</div>
{{ template "users" . }}
  <!-- TODO: Maybe sticky footer would be better -->
  <div id="vote-items" class="relative">
    <div class="fixed bottom-0 left-0 h-1/3 flex justify-center w-full bg-black">
  <div class="max-w-full">
    <fieldset class="flex flex-wrap items-center justify-center">
      {{ range .Scale }}
      <input
        class="peer/{{ . }} hidden"
        ws-send
        type="radio"
        id="{{ . }}"
        name="vote"
        value="{{ . }}"
      />
      <label
        class="hover:cursor-pointer transition duration-200 hover:scale-105 peer-checked/{{ . }}:bg-emerald-500 text-xl rounded border border-emerald-50 peer-checked/{{ . }}:border-emerald-500 peer-checked/{{ . }}:text-emerald-950 p-2 my-2 mx-2 w-16 text-center"
        for="{{ . }}"
      >
        {{ . }}
      </label>
      {{ end }}
      <input
        class="peer/? hidden"
        ws-send
        type="radio"
        id="?"
        name="vote"
        value="?"
      />
      <label
        class="hover:cursor-pointer transition duration-200 hover:scale-105 peer-checked/?:bg-emerald-500 text-xl rounded border border-emerald-50 peer-checked/?:border-emerald-500 peer-checked/?:text-emerald-950 p-2 my-2 mx-2 w-16 text-center"
        for="?"
      >
        ?
      </label>
    </fieldset>
  </div>
</div>
  </div>
{{ end }}

{{ block "users" . }}
<div class="w-full flex" id="users" >
  <div class="w-1/2">
    <table class="border-separate border-spacing-4 table-fixed">
      <tbody>
        {{ template "my-user" . }}
        {{ template "other-users" . }}
      </tbody>
    </table>
  </div>
  <div id="result" class="w-1/2 h-full flex items-center justify-center -translate-y-1/4">
    {{ if .Recommendation }}
    <div class="w-2/3">
      <table class="border-separate border-spacing-4 w-full">
        <tbody>
          <tr>
            <td class="text-2xl font-bold">Average</td>
            <td class="text-2xl">{{ .Average }}</td>
          </tr>
          <tr>
            <td class="text-2xl font-bold">Median</td>
            <td class="text-2xl">{{ .Median }}</td>
          </tr>
          <tr>
            <td class="text-2xl font-bold">Recommendation</td>
            <td class="text-2xl">{{ .Recommendation }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}

{{ block "my-user" . }}
<tr id="user-{{ .MyUser.Name }}">
        <td class="text-xl font-bold">
          {{ .MyUser.Name }} (Me)
  </td>
        {{ if eq .MyUser.Vote -1 }}
        <td class="text-lg border-emerald-200 text-emerald-200 rounded border p-1 text-center w-20">
          Voting...
        {{ else }}
        <td class="text-lg border-emerald-500 text-emerald-500 rounded border p-1 text-center w-20">
    {{ .MyUser.Vote }}
    {{ end }}
  </td>
</tr>
{{ end }}

{{ block "other-users" . }}
{{ range .OtherUsers }}
<tr id="user-{{ .Name }}">
      <td class="text-xl">
        {{ .Name }}
      </td>
  {{ if eq .Vote -1 }}
      <td class="text-lg border-emerald-200 text-emerald-200 rounded border p-1 text-center w-20">
    Voting...
    {{ else if $.AllVoted }}
  </td>

  <td
    class="text-lg border-emerald-500 text-emerald-500 rounded border p-1 text-center w-20"
  >
    {{ .Vote }}
    {{ else }}
      <td class="text-lg border-emerald-500 text-emerald-500 rounded border p-1 text-center w-20">
    Voted
    {{ end }}
  </td>
</tr>
{{ end }}
{{ end }}

{{ block "form-create-session" . }}
<div class="w-2/3 ml-auto mr-auto">
  <form
    class="flex items-center flex-col"
    hx-post="/create-session"
    hx-target="body"
  >
    <table class="border-separate border-spacing-2">
      <tbody>
        <tr>
          <td align="right">
            <label class="text-right text-nowrap" for="session-name"
              >Session Name</label
            >
          </td>
          <td>
            <input
              class="border border-emerald-50 px-2 py-1 rounded w-full bg-black"
              name="session-name"
              autofocus
              required
            />
          </td>
        </tr>
        {{ if not .MyUser.Name }}
        <tr>
          <td align="right">
            <label class="text-right text-nowrap" for="username"
              >Username</label
            >
          </td>
          <td>
            <input
              class="border border-emerald-50 px-2 py-1 rounded w-full bg-black"
              name="username"
              required
            />
          </td>
        </tr>
        {{ end }}
        <tr>
          <td align="right">
            <label class="text-right text-nowrap" for="scale">Scale</label>
          </td>
          <td>
            <select
              class="border border-emerald-50 px-2 py-1 rounded bg-black"
              name="scale"
              required
            >
              <option hidden value="" selected>Choose a Scale</option>
              <!-- TODO: Maybe I should render these from a variable -->
              <option value="fibonacci">
                Fibonacci (1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144)
              </option>
              <option value="workingdays">
                Working Days (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)
              </option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
      <button class="border border-emerald-50 rounded px-2 py-1 transition duration-200 hover:scale-105" type="submit">
      Create Session
    </button>
  </form>
</div>
{{ end }}

{{ block "timeout" . }}
<div class="flex items-center justify-center" id="session-container">
  <h1 class="text-4xl">Session {{ .SessionName }} timed out after one hour of inactivity</h1>
</div>
{{ end }}
