{{ define "title" }}Pointing Poker | {{ .SessionName }}{{ end }}

{{ define "content" }}
    <main class="flex flex-col space-y-16">
      <h1 class="text-4xl">Join {{ .SessionName }}</h1>
      <div class="w-2/3 ml-auto mr-auto">
        <form class="flex items-center flex-col" hx-post="/join-session/{{ .SessionId }}" hx-target="body">
          <table class="border-separate border-spacing-2">
            <tbody>
              <tr>
                <td align="right">
                  <label class="text-right" for="username">Username</label>
                </td>
                <td>
                  <input
                    class="border border-white px-2 py-1 rounded bg-black"
                    name="username"
                    required
                    autofocus
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <button class="border border-white rounded px-2 py-1 hover:scale-105 transition duration-200" type="submit">
            Join
          </button>
        </form>
      </div>
    </main>
{{ end }}
